---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
---

<BaseLayout title="About | Suni" description="About Suni Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for checking this out! Here's some stuff about me :3"
			>
				<img
					width="1553"
					height="873"
					src="/assets/stock-1.jpg"
					alt="Suni at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm a Finnish person living in Finland who does programming.
						And about programming, I'm pretty much entirely self-taught since there weren't really
						any opportunities to study anything computer science related, until University.
					</p>
					<br/>
					<p>
						I have always been fascinated by making computers do things before I even knew what
						programming was, and I've kept learning about programming ever since hearing about it.
						And I love programming because there's always something new to learn.
						In my free time I often like to learn about new technologies and concepts on YouTube
						so I learn a bit about everything.
					</p>
					<br/>
					<p>
						I also do a lot of programming as a hobby. Most of it is related to modding games like
						Lethal Company. And thanks to that I've gotten very familiar with C#, .NET and reading
						other people's code. And I do read a lot of code written by other people, so by this
						point I'm pretty good at quickly getting an idea of what some code is supposed to do.
					</p>
					<br/>
					<p>
						Thanks to my experience in modding, I've got to work with other developers on open source
						projects and learn what people in the modding communities know. I've learned a lot about
						best practices and how to properly do things, like properly structuing and cofiguring a
						C# project and using GitHub Actions for automating my mod uploads to services like
						Thunderstore for distributing my mods.
					</p>
					<br/>
					<p>
						I've also learned about making websites because of needing a better place for a wiki
						than GitHub's own wiki features, which has its issues.
						And so I have experience with <a href="https://starlight.astro.build/">Astro Starlight</a>
						for documentation sites. And for this site, I used <a href="https://astro.build/">Astro</a>
						too as it seems nice.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Completed secondary school, currently in university.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<Grid variant="small">
					{
						["C#", "F#", "CIL", ".NET", "C", "Python",
						"JavaScript", "TypeScript", "HTML", "CSS",
						"Linux", "Windows",
						"Git",
						"Googling", "Reading Docs", "Learning"].map((tech) =>
						(
							<li class="mention-card-small">
								<p>{tech}</p>
							</li>
						))

					}
				</Grid>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	/* ====================================================== */

	.mention-card-small {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
		flex-basis: 10rem !important;
	}

	@media (min-width: 50em) {
		.mention-card-small {
			border-radius: 1.5rem;
			height: 7rem;
		}
	}
</style>
