---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>APIs ♥</h2>
		<p>
			My favorite thing is designing and creating useful APIs for me <i>and</i> everyone else. I'm currently working on
			<a href="https://github.com/MonoDetour/MonoDetour">MonoDetour</a>—a .NET detouring library.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="users-three" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Collaboration</h2>
		<p>I work a lot with other developers in modding communities. I've learned <i>a lot</i> from this, and I like to share everything back.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="heart" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>I Care</h2>
		<p>
			I try to help other developers and write documentation & tools to make things easier for everyone in the future.
			For example, I set up the <a href="https://github.com/PEAKModding">PEAKModding</a> organization.
		</p>
	</div>
</section>

<style>

	p {
		font-size: var(--text-md);
	}

	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
